/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  background: url(blackwhite.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
